In [1]:
import pandas as pd
import numpy as np
import csv

In [2]:
csv_path = "unemployment.csv"
ue_df = pd.read_csv(csv_path)
ue_df.head()

,State,1995,1996,1997,1998,1999,2000,2001,2002,2003,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Alabama,6.0,5.2,5.0,4.4,4.7,4.6,5.1,5.9,6.0,...,4.0,5.7,11.0,10.5,9.6,8.0,7.2,6.8,6.1,5.9
1,Alaska,7.3,7.6,7.1,6.3,6.5,6.4,6.4,7.3,7.8,...,6.3,6.7,7.7,7.9,7.6,7.1,7.0,6.9,6.5,6.9
2,Arizona,5.3,5.6,4.6,4.3,4.4,4.0,4.8,6.1,5.7,...,3.9,6.2,9.9,10.4,9.5,8.3,7.7,6.8,6.1,5.4
3,Arkansas,4.8,5.3,5.2,5.2,4.6,4.3,5.0,5.5,5.9,...,5.3,5.5,7.8,8.2,8.3,7.6,7.2,6.0,5.0,3.9
4,California,7.9,7.3,6.4,5.9,5.2,4.9,5.4,6.7,6.8,...,5.4,7.3,11.2,12.2,11.7,10.4,8.9,7.5,6.2,5.5